@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local("Poppins"),
    url("assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Light";
    font-style: normal;
    font-weight: 100;
    src: local("Poppins"),
      url("assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
  }

@font-face {
  font-family: "Gilroy-SemiBold";
  font-style: normal;
  font-weight: 500;
  src: local("Gilroy-SemiBold"),
    url("assets/fonts/Gilroy-SemiBold/Gilroy-SemiBold.ttf") format("truetype");
}
